<h4 class="header">Ajouter Catégorie</h4>
<div class="card-panel">
    <form class="col s12"  name="cat">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">mode_edit</i>
                <input id="designation_cat" type="text" class="validate" ng-model="category.designation" name="designation" required minlength="5" ng-focus="f = true">
                <label ng-class="{active : focus == true}" for="designation_cat">Désignation Categorie</label>
                <div ng-messages="cat.designation.$error" role="alert" style="color: red; font-size: 10px; margin-left: 42px;margin-top: -6px;">
                    <div ng-message="required" ng-show="f">La designation ne dois pas etre vide</div>
                    <div ng-message="minlength">La designation doit etre minimum 5 caractères</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="description_cat" class="materialize-textarea" ng-model="category.description" name="description" minlength="5"></textarea>
                <label ng-class="{active : focus == true}" for="description_cat">Déscription Categorie</label>
                <div ng-messages="cat.description.$error" role="alert" style="color: red; font-size: 10px; margin-left: 42px;margin-top: -6px;">
                    <div ng-message="minlength">La description doit etre minimum 5 caractères</div>
                </div>
            </div>
        </div>
        <a  class="btn pink" name="action" ng-click="addCategory()">Enregister
            <i class="material-icons right">send</i>
        </a>
    </form>
</div>