<div>
    <div class="row" ng-if="display" ng-form="newField">
        <div class="input-field col s4">
            <i class="material-icons prefix">mode_edit</i>
            <input id="fieldName" type="text" class="validate" ng-model="field.name">
            <label>name champ</label>
        </div>

        <div class="input-field col s4">
            <i class="material-icons prefix">mode_edit</i>
            <input id="fieldValue" type="{{field.type}}" class="validate" ng-model="field.value">
            <label>value champ</label>
        </div>

        <div class="col s3">
            <button ng-click="add()" class="btn-floating green">
                <i class="large material-icons">add</i>
            </button>
            <button ng-click="remove()" class="btn-floating red">
                <i class="large material-icons">delete</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' href="#" data-activates='dropdown1'>Ajouter Champ</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li ng-repeat="(k,v) in types">
                    <a ng-click="show(k)">{{v[0]}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>