
<div class="cyan">

  <div id="login-page" class="row" onload="hideLoader()">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" ng-submit="login()">

        <div class="row">
          <div class="input-field col s12 center">
            <img src="../lib/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text">StockDeal</p>
            <img src="../lib/images/loader.svg" alt="loader" ng-show="loader"/>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="username" type="text" ng-model="user.username">
            <label for="username" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" ng-model="user.password">
            <label for="password">Password</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <button class="btn waves-effect waves-light col s12" type="submit" ng-disabled="loader">Login</button>
          </div>
        </div>
        <div class="center-align">Or</div>
        <div class="row">
          <div class="input-field col s12">
            <a href="" class="btn waves-effect waves-light col s12">Facebook</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a ui-sref="register">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
</div>


</div>